:root{
    --background-color: rgb(243, 114, 114);
    --primary-color: #ffffff;
    --accent-color: rgb(185, 255, 128);
    --secondary-color: rgb(102, 255, 196);

    --text-secondary-color: rgb(0, 0, 0);
    --text-primary-color: rgb(0, 0, 0);
    
    --message-sender-name-color: black;

}
html{
    background-color: var(--background-color);

}